In [1]:
import pandas as pd
import requests
import os
from nba_api.stats.static import players,teams

In [6]:
dates[dates.team=='CHA']

,GAME_ID,TEAM_ID,HTM,VTM,date,season,playoffs,team,opp_team
0,49600001,1610612766,NYK,CHA,19970424,1996-97,True,CHA,NYK
78,49600010,1610612766,NYK,CHA,19970426,1996-97,True,CHA,NYK
155,49600017,1610612766,CHA,NYK,19970428,1996-97,True,CHA,NYK
0,29600016,1610612766,CHA,TOR,19961102,1996-97,False,CHA,TOR
81,29600025,1610612766,NYK,CHA,19961103,1996-97,False,CHA,NYK
...,...,...,...,...,...,...,...,...,...
6718,22301159,1610612766,ATL,CHA,20240410,2023-24,False,CHA,ATL
6797,22301173,1610612766,BOS,CHA,20240412,2023-24,False,CHA,BOS
6873,22301187,1610612766,CLE,CHA,20240414,2023-24,False,CHA,CLE
6964,22301211,1610612766,CHI,CHA,20231206,2023-24,False,CHA,CHI
7054,22301216,1610612766,CHA,TOR,20231208,2023-24,False,CHA,TOR